.font1{
position: relative;

font-family: 'Laila';
font-style: normal;
font-weight: 700;
font-size: 2em;

color: #273464;}
.font2{
    position: relative;
    
    font-family: 'Laila';
    font-style: normal;
    font-weight: 700;
    font-size: 3.3em;
    
    color: #273464;}
.font3{
    position: relative;        
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 800;
    font-size: 3.3em;
    
    color: #273464;} 
.font4{
    position: relative;        
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 1.2em;
    padding: 50px 0;
    color: #88b;
    max-width: 600px;
}        
.font5{
    position: relative;

font-family: 'Laila';
font-style: normal;
font-weight: 700;
font-size: 2em;

color: #273464;
}
@media all and (min-width: 100px)   {  .font5  { font-size:1em;  } }
@media all and (min-width: 480px)  {  .font5  { font-size:1.5em;  } }
@media all and (min-width: 700px)  {  .font5  { font-size:2em;  } }
.submit2{
    position: relative;
    
    font-family: 'Laila';
    font-style: normal;
    font-weight: 700;
    font-size: 1em;
    background-color:#273464;
    text-align: center;
    padding: 1px 10px;
    border-radius: 15px;
    color: white;
}
.pg1{
    position: relative;
    background-color: #f7f7ff;
    height: 100%;
    
    
}    
.pg2{
    position: relative;
    
    height: 100%;
}    
.button1{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 1.2em;
    text-align: center;
    color: #273464;
    max-width: 150px;
    width: 150px;
    height: 100%;
    background-color: #f7f7ff;
    margin-right:6%;
    margin-bottom: 15px;
    border: solid 1px #273464;
    border-radius: 12px;
}
.button2{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 1.2em;
    text-align: center;
    color: white;
    max-width: 150px;
    margin-bottom: 30px;
    width: 150px;
    height: 60px;
    background-color: #63f;
    border: solid 1px #63f;
    border-radius: 12px;
}
.button1:hover {
    cursor: pointer;
    background-color: #63f;
    color: #fff;
    border-radius: 12px;
}

.button2:hover div{
    cursor: pointer;
    background-color: #fff;
    color: #63f;
    border-radius: 12px;
}
.card1{
    position: relative;
    max-width:500px;
    width:500px;
    height: 800px;
    background-color: white;
    margin: 2% 5%;
}